
/*body{
    margin: 0px;
    padding: 0px;
}
.main{
    display: flex;
    justify-content: space-around;
}
.main p{
  width:200px;
  height: 200px;
  background-color: aqua;
  color: black;
  align-items: center;
  justify-content: center;
  display: flex;
  text-transform: uppercase;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding-inline: 6px;
    color: black;
    background-color: blue;
}
.nav h3{
    background-color: brown;
    width: 90px;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.b1{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    border-radius: 30px;
}*/